VITE_API_URL=https://atlaspay-backend-api.onrender.com/api
VITE_GOOGLE_CLIENT_ID=tu_google_client_id

AWS_REGION=sa-east-1
AWS_ACCESS_KEY_ID=tu_aws_access_key_id
AWS_SECRET_ACCESS_KEY=tu_aws_secret_access_key
AWS_SES_FROM_EMAIL=tu_email_verificado_en_ses
